.uppernavbar {
	background-color: #444;
}
#nameform {
	margin-top: 30%;
	opacity: 0;
}
.dungeonspike {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #444;
}
.dungeon {
	margin-right: -10000px;
}
.dungeonbody {
	background-color: black;
	overflow: hidden;
}
.dungeonfloor {
	display: inline-block;
	/*margin-top: 5.1%;*/
	width: 200px;
	height: 33px;
	background: #444;
}
.dungeondoor {
	display: inline-block;
	background-color: #444;
	width: 100px;
	height: 200px;
	margin-top: 3%;
	margin-bottom: -1.1%;
	margin-left: 98.7%;
}
.information {
	display: inline-block;
	position: fixed;
	height: 80px;
	width: 200px;
	background-color: #444;
}
.health {
	padding-top: 5%;
	padding-bottom: 5%;
}
.healthbar {
	color: white;
}
.restartbutton {
	background-color: #DDD;
	color: black;
	padding-right: 38%;
	padding-left: 38%;

}
.scroller {
	display: none;
}
.wizard {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 100px;
	margin-left: 100px;

}